include pyproject.toml

include src/constants.h
include src/constants.pxd
include src/fmmap.pyx
include .travis.yml
include tox.ini
recursive-include tests *.py

# Include the README
include *.rst

# Include the license file
include LICENSE.txt
